/*header*/


header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 80px 10px 80px;
        @media (max-width: $tablette) {
                        margin: 10px 20px 10px 20px;
                }
        img {
                @media (max-width: $tablette) {
                        height: 46px;
                }
        }

        nav {

                ul {
                        display: flex;
                        flex-wrap: nowrap;
                        gap: 20px;
                        padding: 0;

                        li {
                                @include font(1.5rem, normal);
                                @media (max-width: $tablette) {
                                        @include font(0.75rem, normal);
                                }
                                & .active {
                                        text-decoration-line: underline;
                                }
                        }
                }
        }
}
