/*tagstar*/
.tagstar {
        display: flex;
        justify-content: space-between;
        margin-right: 150px;
        div {
        &.stars{
                display: flex;
                flex-direction: row;
                height: 32px;
                width: 32px;
        }
}
}